{% extends "base.html" %}
{% load static %}
{% block main %}
<style>
    h1{
        color: aliceblue;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    img{
        height: 350px;
        margin-top: -10px;
        width: 980px;
    }
</style>
<div>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }} - {{request.user}}</p>
        {% endfor %}
    {% endif %}
    <img src="static/download.jpeg"/>
</div>
{% endblock %}